@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
    font-weight: bold;
    font-size: 1.875rem;
}

.revert-all {
    font-family: initial;
    all: revert;
}

.revert-all * {
    all: revert;
    font-family: initial;
    box-sizing: content-box; /* Restore default box-sizing behavior */
}
